[Unit]
Description=Banana Service
After=network.target

[Service]
Type=simple
ExecStart=/bin/bash -c 'python3 /usr/local/bin/banana_detector.py < /dev/null'
Restart=always
Sockets=banana_detector.socket

[Install]
WantedBy=multi-user.target
